
{{#if isSecondary}}
<nav class="flex text-xs dark:text-white/80 tracking-tight items-center border-b-[1px] desktop:border-b-black/80 desktop:dark:border-b-white/80 px-1 py-2 desktop:px-12">
        {{#foreach navigation}}
        <a href="{{url}}" class="nav-{{slug}}" role="menuitem">
            <svg class="icon" role="img" aria-label="{{slug}} icon">
                <title>{{slug}}</title>
                <use xlink:href="#{{slug}}"></use>
            </svg>
        </a>
        {{/foreach}}
</nav>
{{else}}
<div class="flex">
    <nav class="hidden w-4/5 desktop:flex font-medium text-xs xl:text-base 2xl:text-lg 3xl:text-xl tracking-tighter items-center px-1 py-2 desktop:pl-6">
        <ul class="nav flex space-x-2" role="menu">
            {{#foreach navigation}}
            <li class="inline {{link_class for=(url) class=(concat "nav-" slug)}} rounded hover:bg-black/5 dark:hover:bg-white/5 px-1 py-[0.125rem] dark:text-white/80" role="menuitem">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
            {{/foreach}}
        </ul>
    </nav>
    <div class="w-full desktop:w-1/5 flex font-medium items-center justify-end desktop:justify-center text-xs xl:text-sm 2xl:text-base 3xl:text-xl text-blue-700 dark:text-white/80 bg-black/[.02] tablet:bg-transparent desktop:bg-black/[.02] dark:bg-white/5 uppercase"><a class="p-3" href="#/portal/subscribe">Subscribe</a></div>
</div>
{{/if}}
<div class="border-t-[1px] border-t-black/10 dark:border-t-white/30 desktop:border-y-[1px] desktop:border-y-black/80 desktop:dark:border-y-white/80 desktop:pb-[2px] h-1"></div>