<div class="border-b-[1px] border-b-black/80 dark:border-b-white/5 pb-[2px] hidden lg:block">
<nav class="flex items-center border-b-[1px] border-b-black/80 dark:border-b-white/5 px-1 py-1">
{{#if isSecondary}}
    <ul role="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">
                    <svg class="icon" role="img" aria-label="{{slug}} icon">
                        <title>{{slug}}</title>
                        <use xlink:href="#{{slug}}"></use>
                    </svg>
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <ul class="nav" role="menu">
        {{#foreach navigation}}
            <li
                class="inline
                    {{link_class for=(url) class=(concat "nav-" slug)}}"
                role="menuitem"
            >
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}
</nav>
</div>