<!DOCTYPE html>
<html lang="{{@site.locale}}" class="overflow-y-scroll h-screen">
<head>
    <script>if ( localStorage.getItem("color-theme") === "dark" || (!("color-theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) { document.documentElement.classList.add("dark"); } else { document.documentElement.classList.remove("dark"); }</script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&&family=Noticia+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <title>{{meta_title}}</title>
    {{ghost_head}}{{!-- outputs important meta and settings, should always be in <head> --}}   
</head>
<body class="{{body_class}} overflow-x-hidden dark:bg-black/90 transition-colors duration-400">
{{> "blocks/header"}}
{{{body}}}
{{> "blocks/footer"}}
{{ghost_foot}}{{!-- Outputs important scripts - should always be included before closing body tag --}}
<script src="{{asset "built/main.js"}}"></script>
<span class="select-none">π</span>
</body>
</html>
